@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: #1c1f2a;
  background-color: #ffffff;
  min-block-size: 100vh;
}

* {
  box-sizing: border-box;
}

.bg-pattern {
  background-color: transparent;
}

a {
  text-decoration: none;
}
